body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}
.navbar {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 20px;
    background-color: #201e1e;
}
.hero {
    background-image: url('./images/background.jpg');
    height: 400px;
    background-position: top 30% center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
}
.hero-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: black;
}
.hero-subtext {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: black;
}
.about {
    padding: 20px;
    text-align: center;
}
